h1 {
  text-align: center;
}

.container {
  padding: 0px 20% 0px 20%;
}

.my-div {
  background-color: gray;
  color: orange;
} 

a {
  color: orange;
  text-decoration: none;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.movie-poster {
  width: 24%;
  height: auto;
  margin-top: 20px;
}